{% extends 'layout-login.html' %}

{% block title %}
  Remove UPC
{% endblock %}

{% block content %}
<form method="post" action="{% url 'tasks:rem-upc' %}" enctype="multipart/form-data">
    <h3>Remove UPC</h3>
    {% csrf_token %}

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <br><br>
    <label for="first_file">Select excel UPC file:</label>
    <input type="file" id="first_file" name="first_file" required>
    <br><br>
    <label for="second_file">Select single / multi flat files:</label>
    <input type="file" id="second_file" name="second_file[]" multiple required>
    <br><br>
    <button type="submit">Upload</button>
    <br><br>
    <a href="{% url 'home'%}" >Exit</a>
</form>
{% endblock %}