{% extends 'layout.html' %}
{% load static %}
{% block title %}
  Reports
{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/body-style.css' %}">

<main class="container-report">

    <div class ="top-box">
        {% comment %} <h1>Report selector</h1> {% endcomment %}


    </div>
    <div class = "bottom-box">
        {% comment %} <h1>Report Viewer</h1> {% endcomment %}



    </div>

</main>


{% endblock %}