{% extends 'layout.html' %}
{% load static %}
{% block title %}
  Reports
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/body-style.css' %}">

  <div class="container-home">
    <div class="home-box">
    
        <div class = "home-quote">
        <p>
            <h4>&#10077;&nbsp;Safety Begins With You <br>
            Respect the Risk<br>
            See It... Own It...<br>
            Step Up, Speak Out, and Listen&nbsp;&#10078;</h4>
        </p>
        </div>

      {% comment %} <h1>Report Viewer</h1> {% endcomment %}
    </div>
  </div>
{% endblock %}